header {
  opacity: 0;
  background-color: #e01a83;
  height: 250vh;
  overflow: hidden;
  min-height: 800px;
  transition: opacity 0.5s linear; }
  header .case_study {
    padding: 10% 5% 0 10%; }
    header .case_study .heading {
      padding-bottom: 20px; }
      header .case_study .heading h1,
      header .case_study .heading h5 {
        overflow: hidden;
        color: #661424; }
      header .case_study .heading h5 {
        margin: 0 16px; }
      header .case_study .heading h1 {
        margin: 32px;
        font-size: 4.5rem; }
      header .case_study .heading .line {
        margin-left: 48px;
        width: 20%;
        height: 2px;
        display: flex;
        align-self: center;
        min-width: 40px; }
    header .case_study .description {
      color: white; }
      header .case_study .description h5 {
        padding-bottom: 16px; }
      header .case_study .description hr {
        background-color: white; }
  header .interface {
    overflow-x: visible;
    margin-top: 15%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
    height: 100vw;
    width: 100vw;
    min-width: 800px;
    min-height: 800px; }
    header .interface .circle {
      background-color: #661424;
      z-index: 500;
      position: relative;
      color: white; }
    header .interface .txt_box {
      padding-top: 5%;
      padding-left: 12%;
      overflow-x: visible; }
    header .interface h3 {
      color: #661424; }
    header .interface .line {
      height: 2px;
      width: 4rem; }
