.graphic {
  position: relative;
  z-index: 100;
  background-color: white;
  height: 50vw;
  overflow-y: hidden; }
  .graphic .circle_bcg {
    overflow-x: visible;
    margin-top: 10%;
    height: 100vw;
    width: 100vw;
    border-radius: 100%;
    background-color: #f1f1f1; }
    .graphic .circle_bcg .circle_box .circle {
      background-color: #007dbb;
      color: white; }
    .graphic .circle_bcg .txt_box {
      margin-top: -5%;
      position: relative;
      z-index: 200; }
      .graphic .circle_bcg .txt_box .line {
        background-color: #007dbb; }
      .graphic .circle_bcg .txt_box h3 {
        color: #007dbb; }
