.typo {
  height: 120vh;
  min-height: 800px; }
  .typo h3 {
    color: #00add8; }
  .typo .line {
    background-color: #00add8; }
  .typo .row {
    height: 100%; }
    .typo .row .dark_blue {
      padding: 10% 5% 0 10%;
      height: 100%;
      width: 100%;
      background-color: #00558a; }
    .typo .row .light_blue img {
      margin-top: 65%; }
    .typo .row img {
      width: 80%;
      margin-top: 50%; }
    .typo .row .light_blue {
      height: 100%;
      width: 100%;
      padding: 10% 5% 0 10%;
      background-color: #00add8; }
