$lg-min-height: 800px;
$lg-padding: 10% 5% 0 10%;
$line-width: 4rem;

$burgundy: #661424;
$hot-pink: #e01a83;
$MMB_orange: #f55500;
$MMB_gray: #202020;

$WP_navy: #1a3668;
$WP_blue: #388fee; 
$WP_green: #4DAE03;
$WP_disabled: #c2c2c2;
$WP_txt: #606060;
$WP_danger: #ff4858;
$WP_light_blue: #deeef7;