@import 'zmienne';

body {
    background-color: #f7f6f8;

}

.welcome_screen {
    background-image: url(../assets/el_presidente_img/goals.png);
    min-height: 100vh;
    @media screen and(min-width: 783px) {
        background-image: url(../assets/el_presidente_img/mockup_welcome.png);
    }

    .mask {
        background-color: $hot-pink;
    }
}


.menu-section .hamburger:before {
    background-color: #bd176f;
}

.menu-section a:hover {
    color: $burgundy;
    text-decoration: none;
}

.menu-section button,
.menu-section .hamburger .menu-label {
    color: $burgundy;
    font-weight: bold;
}

.circle {
    display: flex;
    position: sticky;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
    align-content: center;

    h2 {
        align-self: center;
        font-size: 2.2rem;
    }
}

p {
    font-size: 1.2rem;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
}

@import 'EP_case_study';
@import 'EP_color_palette';
@import 'EP_typo';
@import 'EP_color_contrast';
@import 'EP_ux_strategy';
@import 'EP_statistics';
@import 'EP_devices';
@import 'EP_graphics';
@import 'EP_ministers';
@import 'EP_gustaw';
@import 'EP_end_game';