@import 'zmienne';

header {
    opacity: 0;
    background-color: $WP_blue;
    height: 900px;
    overflow: hidden;
    min-height: $lg-min-height;
    transition: opacity 0.5s linear;

    .case_study {
        padding: $lg-padding;

        .heading {
            padding-bottom: 20px;

            h1,
            h5 {
                overflow: hidden;
                color: $WP_navy;
            }

            h5 {
                margin: 0 16px;
            }

            h1 {
                margin: 32px;
                @media all and (min-width: 768px) {
                    font-size: 4.5rem;
                }
            }

            .line {
                margin-left: 48px;
                width: 18%;
                height: 2px;
                display: flex;
                align-self: center;
                min-width: 40px;

            }
        }

        .description {
            h5 {
                padding-bottom: 16px;
            }

            color: white;

            hr {
                background-color: white;
            }

        }
    }

    .interface {
        overflow-x: visible;
        margin-top: 15%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background-color: white;
        height: 100vw;
        width: 100vw;
        min-width: $lg-min-height;
        min-height: $lg-min-height;

        .circle {
            background-color: $WP_navy;
            z-index: 500;
            position: relative;
            color: white;
        }

        .txt_box {
            padding-top: 5%;
            padding-left: 12%;
            overflow-x: visible;
        }

        h3 {
            color: $WP_navy;
        }

        .line {
            height: 2px;
            width: $line-width;
        }

    }
}